<div class="view-users-main">
    <div class="flex view-users-title">
        <div style="font-size: 52px;">Add post</div>
    </div>
    <div style="margin: 20px 0px 0px 0px;">Post title:</div>
    <input />
    <div style="margin: 20px 0px;">Add post section:</div>
    <div class="flex">
        <a asp-area="" asp-controller="" asp-action="" class="add-section-button flex items-center justify-between">
            <object type="image/svg+xml" data="~/svgs/A.svg" height="20" width="20"></object>
            <div>Text</div>
        </a>
        <a asp-area="" asp-controller="" asp-action="" class="add-section-button flex items-center justify-between">
            <object type="image/svg+xml" data="~/svgs/camera.svg" height="20" width="20"></object>
            <div>Image</div>
        </a>
        <a asp-area="" asp-controller="" asp-action="" class="add-section-button flex items-center justify-between">
            <div class="flex items-center">
                <object type="image/svg+xml" data="~/svgs/A.svg" height="20" width="20"></object>
                <div>|</div>
                <object type="image/svg+xml" data="~/svgs/camera.svg" height="20" width="20"></object>
            </div>
            <div>Text + Image</div>
        </a>
        <a asp-area="" asp-controller="" asp-action="" class="add-section-button flex items-center justify-between">
            <div class="flex items-center">
                <object type="image/svg+xml" data="~/svgs/camera.svg" height="20" width="20"></object>
                <div>|</div>
                <object type="image/svg+xml" data="~/svgs/A.svg" height="20" width="20"></object>
            </div>
            <div>Image + Text</div>
        </a>
    </div>
</div>