@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div class="view-users-main">
    <a href="@Url.Action("ToLogIn", "User")" class="back-button flex items-center">
        <object type="image/svg+xml" data="~/svgs/leftArrow.svg" height="16" width="16"></object>
        <div>Back</div>
    </a>
    <div class="flex view-users-title">
        <div style="font-size: 52px;">Add user</div>
    </div>
    <div class="flex flex-col justify-center items-center" style="margin-top: 40px;">
        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            <div style="width: 100%" class="flex flex-col">
                <div>Username</div>
                <input type="text" name="username" id="username"/>
            </div>
            <div style="width: 100%" class="flex flex-col">
                <div>Password</div>
                <input type="password" name="password" id="password"/>
            </div>
            <div style="width: 100%" class="flex flex-col">
                <div>Confirm password</div>
                <input type="password" name="confirmPassword" id="confirmPassword"/>
            </div>

            <input type="submit" value="Add user"/>
        }
        @if (@Accessor.HttpContext.Session.GetString("AddUserError") != null)
        {
            <div class="error" style="margin-top: 40px;">@Accessor.HttpContext.Session.GetString("AddUserError")</div>
        }
    </div>
</div>