html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

button, input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  position: relative;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 40px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

input[type="submit"] {
  border: solid 1px #2c3034;
  color: #2c3034;
  background-color: transparent;
  font-weight: bold;
  padding: 8px 0;
}

.my-navbar {
  width: 100vw;
  min-width: 100vw;
  padding: 10px 40px 10px 20px;
  height: 76px;
  background-color: #2c3034;
  color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.my-main-container {
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 1024px;
  padding-top: 80px;
}

.my-footer {
  width: 100vw;
  min-width: 100vw;
  padding: 60px 20px;
  background-color: #2c3034;
  color: #fafafa;
}

.inner-footer {
  max-width: 800px;
  width: 100%;
}

.footer-section-2 {
  width: 100%;
  padding-left: 180px;
}

/* USER LOG IN */

.login-main {
  margin-top: -40px;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.login-title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 32px;
  border: red solid 1px;
  padding: 12px 88px;
}

.dashboard-1 {
  margin-top: 60px;
  padding-bottom: 20px;
  border-bottom: #565e64 solid 1px;
}

.dashboard-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.dashboard-card {
  border-radius: 16px;
  border: #565e64 solid 1px;
  padding: 26px 32px;
  gap: 12px;
  font-size: 26px;
  opacity: 40%;
}

.dashboard-card:hover {
  opacity: 100%;
  transition: opacity 300ms;
  transition-timing-function: ease-in-out;
}

.view-users-main {
  display: flex;
  flex-direction: column;
}

.view-users-title {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: #565e64 solid 1px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

td, th {
  padding: 4px;
}

.users-table {
  margin-top: 40px;
}

.add-section-button {
  border-radius: 16px;
  border: #565e64 solid 1px;
  margin-right: 20px;
  padding: 10px 16px;
  gap: 12px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 140px;
}

.section-container {
  margin-top: 20px;
}

.section {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.section-title {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  padding: 0px 20px;
  
  font-size: 30px;
  font-weight: 900;
  opacity: 20%;
  
  text-align: right;
}

.section-delete {
  opacity: 20%;

  position: absolute;
  top: 0;
  transform: translateX(0%);
  padding: 10px 20px;
  
}

.section-delete > object {
  pointer-events: none;
}

.file-input {
  min-height: 140px;
  width: 100%;
}

.back-button {
  text-decoration: underline;
  gap: 10px;
  margin-top: 20px;
  flex-grow: 0;
  width: fit-content;
}

.home-title div {
  font-size: 82px;
  font-weight: lighter;
}

.home-title p {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.home-posts {
  margin-bottom: 60px;
}

.home-posts h3 {
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.post-card {
  border: solid 1px #e3e3e3;
  width: 90%;
}

.post-thumbnail {
  max-width: 300px;
}

.post-sections {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 60px;
}

.post-title {
  font-size: 52px;
  font-weight: lighter;
  margin: 40px 0px;
}

.post-text {
  font-size: 28px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: lighter;
}

.browse-posts { 
  border: solid 1px black;
  padding: 10px 20px;
  font-size: 24px;
  margin-bottom: 60px;
}